# shellcheck shell=bash

layout_uv() {
	if [[ -d "./.venv" ]]; then
		VIRTUAL_ENV="$(pwd)/.venv"
	fi

	if [[ -z $VIRTUAL_ENV || ! -d $VIRTUAL_ENV ]]; then
		uv venv -p "$(command -v python3)"
		VIRTUAL_ENV="$(pwd)/.venv"
	fi

	PATH_add "$VIRTUAL_ENV/bin"
	export UV_ACTIVE=1
	export VIRTUAL_ENV
}

dotenv
# source local envrc for any additional local defines and overrides (e.g. a different BUILD_VARIANT)
[[ -f .envrc.local ]] && source_env .envrc.local

use flake

export PIP_IGNORE_INSTALLED=1
layout uv

pre-commit install -f

export SPOTLIGHT_DEV=True
export SPOTLIGHT_VERBOSE=True
export SPOTLIGHT_OPT_OUT=True
VERSION="$(uvx uv-dynamic-versioning)"
export VERSION
