# shellcheck shell=bash

dotenv
# source local envrc for any additional local defines and overrides (e.g. a different BUILD_VARIANT)
[[ -f .envrc.local ]] && source_env .envrc.local

use flake

pre-commit install -f

export SPOTLIGHT_DEV=True
export SPOTLIGHT_VERBOSE=True
export SPOTLIGHT_OPT_OUT=True
VERSION="$(uv run uv-dynamic-versioning)"
export VERSION
